<section class="pagination-centered">
	<ul class="pagination">
	{{if .PreviousHash}}
	<li class="arrow"><a href="/block/{{.PreviousHash}}">&laquo; Previous</a></li>
	{{end}}
	<li class="current"><a href="">{{.Height}}</a></li>
	{{if .NextHash}}
	<li class="arrow"><a href="/block/{{.NextHash}}">Next &raquo;</a></li>
  	{{end}}
	</ul>
</section>
<section class="blockinfo row">
	<hr />
	<section class="blockhead">
		<h2>Block #{{.Height}}  </h2>
	</section>
	<hr />
	<dl class="blockstats">
		<dt class="small-3 columns">Hash:</dt>
		<dd>{{.Hash}}</dd>
		<dt class="small-3 columns">Merkle:</dt>
		<dd>{{.MerkleRoot}}</dd>
		{{if .PreviousHash}}
		<dt class="small-3 columns">Previous Block:</dt>
		<dd><a href="/block/{{.PreviousHash}}">{{.PreviousHash}}&nbsp;</a></dd>
		{{end}}
		{{if .NextHash}}
		<dt class="small-3 columns">Next Block:</dt>
		<dd><a href="/block/{{.NextHash}}">{{.NextHash}}&nbsp;</a></dd>
		{{end}}
		<hr />
		<dt class="small-3 columns">Time:</dt>
		<dd>{{.Timestamp}}</dd>
		<dt class="small-3 columns">Difficulty:</dt>
		<dd>{{.Difficulty}} ("Bits": {{.Bits}})</dd>
		<dt class="small-3 columns">Transactions:</dt>
		<dd>{{len .Txs}}</dd>
		<dt class="small-3 columns">Size:</dt>
		<dd>{{.Size}} kilobytes</dd>
		<dt class="small-3 columns">Nonce:</dt>
		<dd>{{.Nonce}}</dd>
		<dt class="small-3 columns">Raw Data:</dt>
		<dd><a href="/rawblock/{{.Hash}}">Open</a></dd>
	</dl>
</section>
<section class="row">
	<table class="responsive" cellpadding="3" cellspacing="0" width="100%">
	<tr><th>Transaction Hash</th><th>Sender Address (amount)</th><th>Recipient Address : Amount</th></tr>
	{{range .Txs}}
	<tr>
        <td>
                <a href="/tx/{{.Hash}}">{{.DisplayHash}}</a>
        </td>
        <td>- Outbound Address Hash -</td>
        <td>
                <ul>
                {{with .Vout}}
                {{range .}}
                                <li><span class="hash">
                                {{range .ScriptPubKey.Addresses}}
                                        {{.}}
                                {{end}}
                                </span>: {{printf "%f" .Value}}</li>
                {{end}}
                {{end}}
                </ul>
        </td>
	</tr>
	{{end}}
</table>
