<section class="blockinfo row">
	<section class="blockhead">
		<h4 class="long">{{.Hash}}</h4>
		<a href="/">Back to Home</a> | <a href="/rawtx/{{.Hash}}">View Raw</a>
	</section>
	<hr />
	<strong>Number of inputs:</strong> {{len .Vin}}<br />
<!--
	<strong>Total BTC in:</strong> %v<br />
-->
	<strong>Number of outputs:</strong> {{len .Vout}}<br />
<!--
	<strong>Total BTC out:</strong> %v<br />
	<strong>Size:</strong> %v<br />
	<strong>Fee:</strong> %v<br />
-->
</section>

<section class="row">
<h3>{{len .Vin}} Input(s)</h3>
<table class="responsive" border="0" cellpadding="3" cellspacing="0" width="100%">
<tr>
	<th>Previous output (index)</th>
	<th class="amount">Amount</th>
	<th>Bitcoin from Address</th>
	<th>ScriptSig</th>
</tr>
{{range .Vin}}
	<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><span class="hash">{{.ScriptSig.Asm}}</span></td>
	</tr>
{{end}}
</table>

<h3>{{len .Vout}} Output(s)</h3>
<table class="responsive" border="0" cellpadding="3" cellspacing="0" width="100%">
<tr>
        <th>Index</th>
        <th>Redeemed at Input</th>
        <th>Amount</th>
        <th>Bitcoin to Address</th>
        <th>Type</th>
        <th>ScriptPubKey</th>
</tr>
{{range $idx, $element := .Vout}}
	<tr>
	<td>{{$idx}}</td>
	<td>&nbsp;</td>
	<td>{{printf "%f" .Value}}</td>
	{{range .ScriptPubKey.Addresses}}
	<td>{{.}}</td>
	{{end}}
	<td>{{.ScriptPubKey.Type}}</td>
	<td><span class="hash">{{.ScriptPubKey.Asm}}</span></td>
	</tr>
{{end}}
</table>

